// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


.primary-color{
background-color: #E0E8FB;
}
.fa {
    font-family: "FontAwesome";
}
.ion {
    font-family: "ionicons", "Ionicons";
}

